*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    border: 1px dashed black;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */

header {
    background-color: #FF6900;
    position: fixed;
    width: 330%;
    /* bottom: 0; */
    top: 0;
    left: 0;
    right: 0;

    height: 70px;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.30);
    z-index: 1;
}

header .container {

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 30%;
}

header nav ul {
    display: flex;
    gap: 10px;
    padding: 20px;
    margin: 0 70px 0 70px;
}

ul {
    list-style-type: none;
}

li {
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

header .logo img {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 130px;
    margin: 0 270px 0 10px;
}

header .account {
    margin: 0 70px 0 0;
}

header .account .fa-regular, .fa-solid {
    color: white;
    gap: 10px;
    padding: 10px
}

/* MAIN */

main{
    padding: 100px;
}

main .container1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    width: calc((100%/3) -10);
    margin: 20px 10px; 
    position: relative;
}


.card1, .card2, .card3, img {
    width: 300px;
    gap: 10px;
}

main .container2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    width: calc(100%/3 -10px);
    margin: 20px 10px; 
    position: relative;
}

.card4, .card5, .card6, img {
    width: 300px;
    gap: 10px;
}

p {
    margin-right: 10px;
    font-size: small;
}

h2 {
    font-size: 17px;
}

span {
    color: red;
    font-weight: bold;
    font-size: small;
}

del {
    color: black;
    font-size: small;
}